@charset "UTF-8";

h2 {
    text-align: left;
}

table {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 200px;
    background-color: #FFFFFF;
}

input[type="submit"] {
    border:2px solid;
    border-color: #000000;
    text-align: center;
    border-radius: 10px;
    background-color: #0e6a04;
    color: #FFFFFF;
    height: 30px;
    width: 75px;
}

#submitBtn:hover,
#submitBtn:focus {

    /* cursor:マウスカーソルの表示を設定する */
    /* pointer: 指をさす画像になる */
    cursor: pointer;
}