@charset "UTF-8";
/* トップ画面用css */
/* 紺野追加 */
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  /* 背景色設定 */
  background-color: #dcdbc5;
}

.main {
  max-width: 1000px;
  margin: 2% auto;
}
/* 紺野追加ここまで */

.icon {
 position: absolute;
 top : 245px;
 left: 230px;
}

/*天気予報の位置*/
/* ここのleftで天気予報まるごと移せる */
.weatherlocation {
  position: absolute;
  left: 460px;
  top: 45px;
}
/*天気予報*/
.weatherForecast {
    width: 840px;
    height: 120px;
    display: flex;
    text-align: center;
    border: 1px solid #000;
    position: absolute;
    top:240px;
  }

  .tenki {
   writing-mode: horizontal-tb;
   position: relative;
   top:215px;
   left:-50px;
  }

  .location {
   position: relative;
   top:215px;
   left: 80px;
  }


  .weather {
    width: calc(100% / 7);
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #666;
  }

  .weather > div {
    height: 20%;
    font-size: 14px;
  }

  .weatherImg {
    height: 42%;
  }

  .tempMin {
    color: blue;
  }

  .tempMax {
    color: red;
  }

  /*dateの非表示*/
  .date {
  display:none;
  }

  /*日付の移動*/
  .moji1 {
    position: absolute;
    top:225px;
    left:40px;
  }
   .moji2 {
   position: relative;
    top:200px;
    left:160px;
  }
   .moji3 {
     position: relative;
    top:160px;
    left:280px;
  }
   .moji4 {
   position: relative;
    top:120px;
    left:395px;
  }
   .moji5 {
   position: relative;
    top:80px;
    left:515px;
  }
   .moji6 {
   position: relative;
    top:40px;
    left:635px;
  }
   .moji7 {
   position: relative;
    left:765px;
  }

  /* 紺野追加 */
.top-img-inner {
  max-width:1000px;
/*   top:460px; */
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 25%;

}

.top-img {
	border-radius: 2%;
}

  /* 紺野追加ここまで */

  /*キャンプ画像、文字*/
/*   .camp1 {
    width: 400px;
    height: 400px;
    position:absolute;
    top:440px;

    left: 10px;
  } */

  /*通知エリア*/
  .textarea {
    width: 1000px;
    height: 200px;
    resize: none;
    overflow-y: scroll;
    position: absolute;
    top:1100px;
    background-color: white;

  }

  .notic-area {
  	margin:2%;
  }

.footer {
  position: absolute;
  top:1400px;
  right: 0;
  left: 0;
  padding: 3% 100%;
  margin: 0 auto;
}